<div
  class="inline-form-container"
  [ngClass]="{ 'inline-form-container-editing': isEditing }"
  (click)="activeEditing()"
>
  <div class="inline-form-text" *ngIf="!isEditing">
      {{ defaultText }}


</div>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    *ngIf="isEditing"
    class="inline-form"
    >
    <input
      #input1
      type="text"
      formControlName="title"
      class="inline-form-input"
      [placeholder]="inputPlaceholder"
      *ngIf="inputType === 'input'"

      />
    <textarea
      #input2
      *ngIf="inputType === 'textarea'"
      formControlName="title"
      class="inline-form-input"

    ></textarea>
    <button
      *ngIf="hasButton"
      type="submit"
      [disabled]="form.invalid"
      class="inline-form-button"
      (mouseenter)="buttonHoverEnter()"
      (mouseleave)="buttonHoverLeave()"
    >
      {{ buttonText }}
    </button>
  </form>
</div>


<!--(focusout)="leaveEditingWithCheck()"-->

<!--*ngIf="isEditing; then setFocus();"-->

