<!--Board-->
<!--{{ board$ | async | json }}-->
<!--<button (click)="test()">Test</button>-->


<app-topbar></app-topbar>
<div class="board-background-drop">

<div class="board-background">


  <div class="board" >


    <div class="rotate" *ngIf="data$ | async as data" #r1>
      <div class="board-header-container">
        <div class="board-title">
          <inline-form
            class="edit-board-form"
            [defaultText]="data.board.title"
            [title]="data.board.title"
            (handleSubmit)="updateBoardName($event)"
          ></inline-form>


        </div>

        <div *ngIf="userId==data.board.userId" class="add-member-board" (click)="gerUserList()">Manage Members</div>

        <div *ngIf="userId==data.board.userId" class="delete-board" (click)="deleteBoard()">Delete board</div>
      </div>
      <hr class="board-header-divider">

      <div class="columns">
        <div class="column" *ngFor="let column of data.columns">
          <div class="column-title">
            <inline-form
              class="edit-column-form"
              [defaultText]="column.title"
              [title]="column.title"
              (handleSubmit)="updateColumnName($event, column.id)"
            ></inline-form>
            <img
              src="/assets/close_icon.svg"
              class="column-delete-icon"
              (click)="deleteColumn(column.id)"
            />
          </div>
          <div
            *ngFor="let task of getTasksByColumn(column.id, data.tasks)"
            class="task"
            [ngClass]="{ 'task-not-done': ((task.hasCheck)&&(!(task.checkStatus))), 'task-done': ((task.hasCheck)&&((task.checkStatus))),'task':true,'task-no-check':!(task.hasCheck)}"
          >
            <div *ngIf= "task.hasCheck" class="task-check-box">
              <input  type="checkbox" [checked]="task.checkStatus" (change)="updateTaskCheckStatus($event,task.id)" value="hasCheck{{task.checkStatus}}">
            </div>
            <div class="task-body"
                 (click)="openTask(task.id)"
            >
              <div class="task-title">
                {{ task.title }}

              </div>
              <hr  *ngIf= "task.description" class="task-header-divider">

              <div *ngIf= "task.description" class="task-description">
               {{ task.description }}
              </div>

            </div>
          </div>

          <inline-form
            class="create-task-form"
            defaultText="＋Add a card"
            [hasButton]="true"
            buttonText="Add Card"
            inputPlaceholder="Enter a title for this card"
            (handleSubmit)="createTask($event, column.id)"
          >

          </inline-form>
        </div>
        <inline-form
          class="create-column-form"
          defaultText="Add a list"
          [hasButton]="true"
          buttonText="Add List"
          inputPlaceholder="Add column name"
          (handleSubmit)="createColumn($event)"
        ></inline-form>
      </div>

  </div>



</div>
</div>
</div>
<router-outlet></router-outlet>

<!--//dev-->
