<app-topbar></app-topbar>
<div class="boards-page-container">

  <div class="boards-section-container">
    <div class="my-boards">
      <div class="my-boards-section-header">
        <div class="boards-page-header-name">My Boards</div>
      </div>
      <div class="board-tile-list">
<!--        INLINE FORM-->
        <inline-form
          class="create-board-form"
          defaultText="Create new board"
          (handleSubmit)="createBoard($event)"
        ></inline-form>
        <a
          [routerLink]="['/dashBoard', board.id]"
          *ngFor="let board of dashBoard"
          class="board-tile"
        >
          <div class="board-tile-details-name">{{ board.title }}</div>
        </a>
      </div>
    </div>

    <div class="my-boards">
      <div class="my-boards-section-header">
        <div class="boards-page-header-name">Member Boards</div>
      </div>

      <div class="board-tile-list">
        <a
          [routerLink]="['/dashBoard', board.id]"
          *ngFor="let board of memberBoards"
          class="board-tile"
        >
          <div class="board-tile-details-name">{{ board.title }}</div>
        </a>
      </div>



    </div>

    <div class="my-boards">
      <div class="my-boards-section-header">
        <div class="boards-page-header-name">White Boards</div>
      </div>
      <div class="board-tile-list">
        <!--        INLINE FORM-->
        <inline-form
          class="create-board-form"
          defaultText="Create new board"
          (handleSubmit)="createWhiteBoard($event)"
        ></inline-form>
        <a
          [routerLink]="['/whiteBoard', board.id]"
          *ngFor="let board of whiteBoards"
          class="board-tile"
        >
          <div class="board-tile-details-name">{{ board.title }}</div>
        </a>
      </div>
    </div>




    <div class="my-boards">
      <div class="my-boards-section-header">
        <div class="boards-page-header-name">Member White Boards</div>
      </div>

      <div class="board-tile-list">
        <a
          [routerLink]="['/whiteBoard', board.id]"
          *ngFor="let board of memberWhiteBoards"
          class="board-tile"
        >
          <div class="board-tile-details-name">{{ board.title }}</div>
        </a>
      </div>

    </div>
    </div>
</div>
