<!--<app-topbar></app-topbar>-->

<!--check now-->
<div #allfather>

</div>
<div #myIdentifier>
  <p>This is test.</p>
  <p>This is test.</p>
  <p>This is test.</p>
  <p>This is test.</p>
  <p>This is test.</p>


</div>

<div class="add-member-board" >Add Members</div>
<div class="whiteboard-container">
  <div class="whiteboard-background" #wb >
    <canvas class="whiteboard-canvas" #myCanvas (mousedown)="startDrawing($event)" (mousemove)="drawLine($event)" (mouseup)="stopDrawing()"></canvas>

  </div>



</div>


<div #myIdentifier>
  <p>X page : {{X_page}}</p>
  <p>Y page : {{Y_page}}</p>
  <p>X client : {{X_client}}</p>
  <p>Y client : {{Y_client}}</p>
</div>

