<app-topbar></app-topbar>

<!--check now-->
<div #allfather (mousemove)="logPoint($event)" class="whiteboard-cover">
  <div class="whiteBoard-header-container">
    <div class="board-title">
      <inline-form
        class="edit-board-form"
        [defaultText]="WBtitle"
        [title]="WBtitle"
        (handleSubmit)="updateBoardName($event)"
      ></inline-form>


    </div>
    <div *ngIf="userId==whiteBoard?.userId" class="add-member-board" (click)="gerUserList()">Manage Members</div>
    <div *ngIf="userId==whiteBoard?.userId" class="delete-board" >Delete board</div>
  </div>
  <hr class="board-header-divider">
  <div class="whiteboard-pen-options">
    <div class="{{divBlack}} whiteboard-pen pen-black " (click)="penBlack()">Black</div>
    <div class="{{divRed}} whiteboard-pen pen-red" (click)="penRed()">Red</div>
    <div class="{{divErase}} whiteboard-pen pen-erase" (click)="penErase()">Erase</div>
    <hr class="pen-options-divider" >
    <div class="stroke-width"> Color Picker</div>

    <!--    <div class="add-member-board-WB" (click)="clearBoard()">clear</div>-->
<!--    <div class="add-member-board-WB" (click)="restoreBoard()">re store</div>-->
    <input (input)="changeColor()" type="color" class="color-picker" #colorpicker>
    <hr class="pen-options-divider" >

    <input  (input)="changeWidth()" type="range" min="1" max="200" class="pen-range" #widthSelector value="{{strWidth}}">
    <div class="stroke-width"> Pen Size : {{strWidth}}</div>

  </div>
  <div class="whiteboard-container">
    <div class="whiteboard-background" #WBback >
      <canvas class="whiteboard-canvas" #myCanvas (mousedown)="startDrawing($event)" (mousemove)="drawLine($event)" (mouseup)="stopDrawing()"
      (touchstart)="startDrawingTouch($event)" (touchmove)="drawLineTouch($event)" (touchend)="stopDrawing()"></canvas>

    </div>
  </div>
  <div *ngIf="dev_tools_view">
    <p>X page : {{X_page}}</p>
    <p>Y page : {{Y_page}}</p>
    <p>X client : {{X_client}}</p>
    <p>Y client : {{Y_client}}</p><br>
    <p>wb_left (offset) : {{wb_left}}</p>
    <p>wb_top (offset): {{wb_top}}</p>
    <p>wb_hiegt : {{wb_hiegt}}</p>
    <p>wb_width : {{wb_width}}</p>
    <p>x cal : {{x_cal}}</p>
    <p>y cal : {{y_cal}}</p>
    <p>offset x: {{offset.x}}</p>
    <p>offset y: {{offset.y}}</p>

    <p>offset test x: {{offset_test.x}}</p>
    <p>offset tset y: {{offset_test.y}}</p>
    <p>scroll y: {{scrollTest}}</p>

  </div>
</div>

<router-outlet></router-outlet>



