<div class="login-page">
  <a routerLink="/" class="login-home-link">
    Quickboard
  </a>
  <div class="form-container">
    <div class="login-header">Register New Account</div>
    <div class="errors" *ngIf="errorMessage">{{ errorMessage }}</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        formControlName="email"
        type="email"
        placeholder="Email"
        class="login-input"
        (change)="onTextChanged($event)"
      />
      <input
        formControlName="firstname"
        placeholder="First Name"
        class="login-input"
      />
      <input
        formControlName="lastname"
        placeholder="Last Name"
        class="login-input"
      />
      <input
        formControlName="username"
        placeholder="Username"
        class="login-input"
      />
      <input
        formControlName="passwordCheck"
        type="password"
        placeholder="Password"
        class="login-input"
      />
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="login-input"
      />

      <button type="submit" [class.disabled]="isButtonDisabled2" class="login-submit-button" [disabled]="isButtonDisabled">Register</button>
    </form>

    <div class="bottom-form-links">
      <a routerLink="/login" class="register-link">Sign in</a>
    </div>
  </div>
</div>
