
.board-background{
  /*background: #9796f0;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to top, #fbc7d4, #9796f0);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to bottom, #fbc7d4, #9796f0); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/


  /*height: 100vh;*/
  min-height: calc(100vh - 44px);
  height: fit-content;
  /*height: max(100vh,fit-content);*/
  /*height: max(100vh,fit-content);*/
  background-image: url("/assets/test1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.board {

  /*background-image: url("https://dummyimage.com/600x400/000/fff");*/
  /*background-image: url("/client/src/assets/board_background_image.jpg");*/

  /*background-image: url("/assets/image_background.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/

  /*height: calc(100vh - 40px);*/
  /*height: 50vh;*/
  height: 100%;
  /*overflow-x: auto;*/


}
/*@media (max-height: 650px) {*/
/*  .rotate {*/
/*    height: 100%;*/
/*    padding-bottom: 0px;*/

/*  }*/
/*}*/
.rotate{
  /*min-height: fit-content;*/
  height: fit-content;

  overflow-x: auto;
  width: auto;
  padding-bottom: 40px;
  /*margin-bottom:auto;*/
}
.rotate::-webkit-scrollbar {
  height: 12px;               /* width of the entire scrollbar */
}
.rotate::-webkit-scrollbar-track {
  background:  hsla(0, 100%, 100%, 0.3);        /* color of the tracking area */
  border-radius: 20px;

}
.rotate::-webkit-scrollbar-thumb {
  background:  hsla(0, 100%, 100%, 0.35);        /* color of the tracking area */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid hsla(0, 100%, 100%, 0.4);;  /* creates padding around scroll thumb */
}
.board-header-divider{
  border: 2px solid rgba(255, 255, 255, .45);
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 22px;

}
.board-header-container {
  margin-top: 5px;
  min-height: 48px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.delete-board {
  margin-top: auto;
  color: #fff;
  padding: 5px 8px;
  margin-left: auto;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 14px;
  background-color: hsla(0, 100%, 74%, 0.73);
  height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.delete-board:hover {
  background-color: hsla(0, 100%, 59%, 0.82);
}

.add-member-board {
  margin-top: auto;
  color: #fff;
  padding: 5px 8px;
  border-radius: 3px;
  font-size: 14px;
  background-color: hsla(0, 0%, 100%, 0.15);
  height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add-member-board:hover {
  background-color: hsla(0, 0%, 100%, 0.15);
}
.board-title{
  font-size: 30px;
  margin-right: 20px;
  color: #ffffff;
  font-weight: bold;
  /*background: #00adcc;*/
  border-radius: 8px;
  padding: 14px;
  background: #0052D4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(  190deg,#8e2de2, #4a00e0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(  190deg,#8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  backdrop-filter: blur(14px);

}
.columns {
  width: max-content;
  display: flex;
  padding-right: 200px;
  padding-left: 10px;
}

.column {
  /*box-shadow:0px -10px 0px #06c909;*/

  background-color: rgba(255, 255, 255, .45);
  backdrop-filter: blur(14px);
  padding: 8px;
  border-radius: 4px;
  width: 272px;
  margin: 0 4px;
  /*max-height: 600px;*/
  overflow-y: auto;
  min-width: 272px;
  align-self: flex-start;
}

.column-title {
  padding: 9px 12px 7px 12px;
  white-space: pre-line;
  background: #6e2cef;  /* fallback for old browsers */
  background: -webkit-linear-gradient(  183deg , #b065fa, #7d3efa);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(  183deg, #b065fa, #7d3efa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   border-radius: 4px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column-delete-icon {
  width: 20px;
  cursor: pointer;
  padding: 5px;
}

.column-delete-icon:hover {
  background-color: rgba(0, 0, 0, 0.17);
  border-radius: 15%;
}

.task {
  box-shadow: 0 2px 2px rgb(9 30 66 / 25%);
  cursor: pointer;
  max-width: 300px;
  min-height: 20px;
  color: #3d4852;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 4px;

}
.task-container{
  display: flex;
  margin: 8px;
  width:100%;
}
.task-no-check{
  padding: 0px 0px 0px 8px;
}
.task-no-check:hover{
  border-bottom-color: rgba(9, 30, 66, 0.25);
  padding: 0px 0px 0px 8px;
  background-color: #f4f5f7;
}
.task-not-done{
  color: #fff;
  background-color: rgba(255, 32, 51, 0.91)
}
.task-not-done:hover{
  color: #fff;
  background-color: rgb(253, 109, 120)
}
.task-done{
  color: #fff;
  background-color: #2db731;

}

.task-done:hover{
  color: #fff;
  background-color: #48e74d;

}

.task:hover {

}


.edit-column-form{
  /*padding-left: 5px;*/
  /*padding-top: 7px;*/

}
.edit-column-form .inline-form-input {
  font-size: 17px;
  color: #ffffff;
  width: 100%;
  background-color: rgba(250, 251, 252, 0);
  border: 2px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 3px;
  /*padding: 7px;*/
}
