.boards-page-container {
  min-height: calc(100vh - 44px);
  height: fit-content;
  display: flex;
  padding-bottom: 40px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  background-image: url("/assets/test1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-left-sidebar {
  position: sticky;
  top: 0px;
}

.home-left-sidebar-container {
  margin: 40px 0 0;
  padding: 0 16px;
  width: 272px;
}

.boards-side-menu-option {
  display: flex;
  padding: 8px 10px;
  width: 100%;
  color: #172b4d;
  border-radius: 4px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}

.boards-side-menu-option-selected {
  display: flex;
  padding: 6px 8px;
  width: 100%;
  background-color: #e4f0f6;
  color: #0079bf;
  border-radius: 4px;
  margin-bottom: 5px;
}

.boards-section-container {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .45);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: column;
  padding: 32px 65px 50px;
  margin-top: 40px;
  width: 100%;
  max-width: 1102px;
  min-width: 415px;
}

.my-boards-section-header {
  display: flex;
}

.my-boards {
  margin: 20px 0px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 24px 25px 20px 25px;
  display: flex;
  flex-direction: column;
}

.boards-page-header-name {
  color: #ffffff;
  display: inline-block;
  margin: 0px 0 0 1%;
  padding-bottom: 11px;
  font-size: 34px;
  font-weight: 700;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.board-tile-list {
  display: flex;
  flex-wrap: wrap;
}

.board-tile {
  width: 23%;
  margin: 0 1% 2% 1%;
  background: #0052D4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(  220deg,#8e2de2, #4a00e0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(  220deg,#8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  line-height: 20px;
  padding: 15px;
  position: relative;
  text-decoration: none;
  border-radius: 12px;
  height: 80px;
  cursor: pointer;
}

.board-tile:hover {
  background: #0088a1;
}

.board-tile-details-name {
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  overflow: hidden;
  max-height: 40px;
  width: 100%;
  word-wrap: break-word;
  color: #fff;
}
