.column-select {
  height: 50px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  background-color: #dae1e7;
  color: 000;
  appearance: none;
  padding:0 25px 0 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 10px;
  border: 6px solid #dae1e7;
  border-bottom: 2px solid rgba(9, 30, 66, 0.08);
}

.column-select:hover,
.column-select:focus {
  background-color: rgb(227, 227, 227);
  border: 6px solid rgb(227, 227, 227);
  border-bottom: 2px solid rgb(227, 227, 227);
}

.column-select-container {
  margin-bottom: 30px;
  margin-top: 10px;
}
