.home-hero {
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(22deg, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(22deg , #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 700px;
}

.home-container {
  height:100%;
  max-width: 620px;
  color: #fff;
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 80px;
  justify-content: space-between;
}
.home-team{
  height: 700px;

  /*background: #43cea2;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(22deg, #185a9d, #43cea2);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(22deg , #185a9d, #43cea2); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}
.home-information{
  height: 700px;

  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(22deg, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(22deg , #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 110px;
  text-align: center;
}
.home-title2{
  color: #f3225b;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 110px;
  text-align: center;
}

.home-description {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}
.home-description2 {
  color: #f3225b;

  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

.home-header {
  position: fixed;
  height: 72px;
  z-index: 1;
  width: 100%;
  background-color: #0079bf;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-header-home-link{
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  margin-right: 20px;
}
.home-header-home-link img {
  height: 40px;
}

.home-header-login {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  margin-right: 20px;
}

.home-header-register {
  color: #8A2387;
  background: #fff;
  font-weight: 700;
  font-size: 17px;
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 3px;
  line-height: 26px;
}

.team-container {
  color: #2c3e50;
}

.information-container {
  color: #ffffff;
}

.workflow-container {
  color: #2c3e50;
}

.team-image {
  max-width: 700px;
}

.workflow-image {
  max-width: 450px;
}

.workflow-left-part {
  margin-right: 40px;
}
