.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-direction: column;
  /*min-height: calc(100vh - 44px);*/
  height: fit-content;
  min-height: 100vh;

  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(22deg, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(22deg , #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.login-home-link{
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 70px;
  margin-top: 40px;
}


.form-container {
  background-color: rgba(255, 255, 255, .45);
  backdrop-filter: blur(14px);
  border-radius: 15px;
  margin-top: 60px;
  padding: 25px 40px 32px 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
  max-width: 400px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header {
  text-align: center;
  color: #2c3e50;
  font-size: 27px;
  letter-spacing: -0.01em;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: bold;
}

.login-input {
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  background-color: #fafbfc;
  border: 2px solid #dfe1e6;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
  height: 44px;
  padding: 7px;
  -webkit-transition: background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
  transition: background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
  margin: 0 0 1.2em;
}

.login-submit-button {
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(220deg, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(220deg, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 14px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.8em;
  font-size: 18px;
  padding: 14px 2px ;
  position: relative;
  text-decoration: none;
  border: 0px;
  width: 100%;
  cursor: pointer;
}

.login-submit-button:hover {
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(220deg , #9f6af6, #4e7ffa);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient( 220deg, #9f6af6, #4e7ffa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.disabled:hover {
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(220deg, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(220deg, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  cursor: initial;


}

.bottom-form-links {
  text-align: center;
  font-size: 14px;
  display: flex;
  padding: 0;
  justify-content: center;
  list-style-type: disc;
}

.register-link {
  text-decoration: underline;
  color: #003a91;
}

.errors {
  color: #ff003b;
  font-size: 14px;
  line-height: 1.333;
  margin-bottom: 5px;
  font-weight: 600;
}
