.whiteboard-background{
  /*height: 100vh;*/
  height: 800px;
  width: 1200px;
  /*width: 80vw;*/
  /*background-color: #5aac44;*/

}
.whiteboard-canvas{
  /*height: 100%;*/
  /*width: 100%;*/
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border: 16px solid #e0e0e0;
  border-radius: 40px;
  zoom: 25%;


}
.whiteboard-container{
  /*background-color: #0061e8;*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.whiteboard-pen-options{
  display: flex;

}
.whiteboard-pen {
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 14px;
  /*background-color: #ffffff;*/
  border: 3px solid #e0e0e0;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0px 5px;
}

.whiteboard-pen:hover {
  background-color: #e0e0e0;
}
.pen-black{
  color: #000000;

}
.pen-red{
  color: #ff0000;
}
.pen-erase{
  color: #777777;
}
.selected-pen{
  background-color: #e0e0e0;

}

.add-member-board-WB {
  color: #fff;
  padding: 5px 8px;
  border-radius: 3px;
  font-size: 14px;
  background-color: #1d3045;
  height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.whiteBoard-header-container {
  padding-top: 5px;
  min-height: 48px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}
.add-member-board-WB:hover {
  background-color: #608ebe;
}
.whiteboard-cover{
  background-image: url("/assets/test1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 44px);
  height: fit-content;
}

